html,body {font-family: 'Droid Serif', serif;
width 100%;
margin: 0;
padding: none;
background-color: #162623;
}
.container{
text-align: center;

}
.nav{margin:0;
  padding: 0;
  background-color: #00FF9D;
  }
.image{
  width: 250px;
  margin-top: 100;
  border-radius: 25px;
}
.nav-link{display: inline-block;
  padding;25px;}
  a:hover{text-decoration:none;
  color: grey;
}
a{color:white;
text-decoration: none;
font-size: 25px;
}
ul{margin: 0;
padding: 0;}
.active{color: #B21212;}
table (
  width: 60%;
  )
  padding left 20;
  padding right 20;
